---
import i18next, { t } from "i18next";

const amenities = [
  {
    name: t("ameni.club"),
    description: t("ameni.desc1"),
    image: "/img/Amenidades/Club.jpg",
    icon: "/img/Iconossvg/Hacienda.svg",
  },
  {
    name: t("ameni.bar"),
    description: t("ameni.desc2"),
    image: "/img/Amenidades/Bar.jpg",
    icon: "/img/Iconossvg/Alcohol.svg",
  },
  {
    name: t("ameni.rest"),
    description: t("ameni.desc3"),
    image: "/img/Amenidades/Restaurante.jpg",
    icon: "/img/Iconossvg/Restaurant.svg",
  },
  {
    name: t("ameni.mascot"),
    description: t("ameni.desc4"),
    image: "/img/Amenidades/Mascotas.jpg",
    icon: "/img/Iconossvg/Dog.svg",
  },
  {
    name: t("ameni.golf"),
    description: t("ameni.desc5"),
    image: "/img/Amenidades/CampGolf.jpg",
    icon: "/img/Iconossvg/Golf.svg",
  },
  {
    name: t("ameni.spa"),
    description: t("ameni.desc6"),
    image: "/img/Amenidades/Spa.jpg",
    icon: "/img/Iconossvg/Spa.svg",
  },
  {
    name: t("ameni.pisci"),
    description: t("ameni.desc7"),
    image: "/img/Amenidades/Piscina.jpg",
    icon: "/img/Iconossvg/Piscina.svg",
  },
  {
    name: t("ameni.ciclo"),
    description: t("ameni.desc8"),
    image: "/img/Amenidades/Ciclovia.jpg",
    icon: "/img/Iconossvg/Ciclovia.svg",
  },
  {
    name: t("ameni.padel"),
    description: t("ameni.desc9"),
    image: "/img/Amenidades/Padel.jpg",
    icon: "/img/Iconossvg/Padel.svg",
  },
  {
    name: t("ameni.tennis"),
    description: t("ameni.desc10"),
    image: "/img/Amenidades/Tennis.jpg",
    icon: "/img/Iconossvg/Tennis.svg",
  },
  {
    name: t("ameni.subt"),
    description: t("ameni.desc11"),
    image: "/img/Amenidades/Servicios.jpg",
    icon: "/img/Iconossvg/Servicios.svg",
  },
  {
    name: t("ameni.acceso"),
    description: t("ameni.desc12"),
    image: "/img/Amenidades/Entrada.jpg",
    icon: "/img/Iconossvg/Entrada.svg",
  },
  {
    name: t("ameni.urb"),
    description: t("ameni.desc13"),
    image: "/img/Amenidades/GymUrbano.jpg",
    icon: "/img/Iconossvg/GymUrbano.svg",
  },
  {
    name: t("ameni.capilla"),
    description: t("ameni.desc14"),
    image: "/img/Amenidades/Capilla.jpg",
    icon: "/img/Iconossvg/Capilla.svg",
  },
  {
    name: t("ameni.gym"),
    description: t("ameni.desc15"),
    image: "/img/Amenidades/Gym.jpg",
    icon: "/img/Iconossvg/Gym.svg",
  },
  // ... (resto de las amenidades)
];
---

<div class="bg-white p-6 shadow-md" id="AMENIDADES">
  <h2
    class="text-4xl font-extrabold text-center text-black mb-8 relative"
    data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-duration="500"
  >
    {t("ameni.title")}
    <span class="block w-24 mx-auto mt-4 h-1 bg-gray-200 rounded-full"></span>
  </h2>

  <!-- Contenedor de Amenidades -->
  <div
    class="flex flex-wrap justify-center gap-10"
    data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-duration="500"
  >
    {amenities.map((amenity) => (
      <div
        class="flex flex-col items-center space-y-2 w-32"
      >
        <div class="w-12 h-12 bg-gray-200 rounded-md flex items-center justify-center">
          <img src={amenity.icon} alt={amenity.name} class="w-6 h-6" />
        </div>
        <h3 class="text-base font-semibold text-gray-700 text-center">{amenity.name}</h3>
      </div>
    ))}
  </div>
</div>


<style>
  #AMENIDADES {
    background-color: #f9f9f9;
  }

  h2 span {
    background-color: #e0e0e0;
  }

  .flex div {
    transition: transform 0.3s ease-in-out;
  }

  .flex div:hover {
    transform: scale(1.05);
  }
</style>

  
  
