---
import i18next, { t } from "i18next";
import { LanguageSelector } from "astro-i18next/components";
---
<!-- Selector de idiomas -->
<div class="absolute inset-0 top-4 left-4 z-40 h-0">
  <LanguageSelector showFlag={false} class="font-medium sm:w-24px rounded-lg text-sm px-0.5 sm:px-2 pl-1.5 pr-0 pb-3 bg-primary text-white hover:bg-red-900 "/>
</div>
<!-- Preload del video y la imagen de previsualizaci贸n -->
<link rel="preload" href="/vid/VideoCasa.mp4" as="video" type="video/mp4">
<link rel="preload" href="/img/Fachada.jpg" as="image">

<div id="animation-carousel" class="relative w-full h-screen" data-carousel="static">
  <div class="absolute inset-0">
    <div id="video-preview" class="absolute inset-0">
      <img src="/img/Fachada.jpg" alt="Previsualizaci贸n del video" class="block w-full h-full object-cover" loading="eager">
    </div>
    <video id="background-video" class="block w-full h-full object-cover" autoplay loop muted playsinline preload="auto">
      <source src="/vid/VideoCasa.mp4" type="video/mp4">
      Tu navegador no soporta el elemento de video.
    </video>
    <!-- Eliminado el div con opacidad ya que el video cubre el fondo -->
  </div>

  <div class="absolute top-0 left-0 right-0 flex justify-center p-4">
    <img src="/img/logoblanco.png" alt="Logo" class="w-40 h-auto" loading="eager">
  </div>

  <div class="relative h-full overflow-hidden">
    <div class="hidden h-full" data-carousel-item="active">
      <div class="absolute inset-0 flex flex-col items-center justify-center text-white z-10 p-4">
        <h1 class="text-4xl sm:text-5xl md:text-6xl font-bold text-center">{t("slider.title1")} </h1>
        <br />
        <p class="text-lg sm:text-xl md:text-2xl text-center">{t("slider.subtitle1")}</p>
      </div>
    </div>

    <div class="hidden h-full" data-carousel-item>
      <div class="absolute inset-0 flex flex-col items-center justify-center text-white z-10 p-4">
        <h1 class="text-4xl sm:text-5xl md:text-6xl font-bold text-center">{t("slider.title2")}</h1>
        <br />
        <p class="text-lg sm:text-xl md:text-2xl text-center">{t("slider.subtitle2")}</p>
      </div>
    </div>

    <div class="hidden h-full" data-carousel-item>
      <div class="absolute inset-0 flex flex-col items-center justify-center text-white z-10 p-4">
        <h1 class="text-4xl sm:text-5xl md:text-6xl font-bold text-center">{t("slider.title3")}</h1>
        <br />
        <p class="text-lg sm:text-xl md:text-2xl text-center">{t("slider.subtitle3")}</p>
      </div>
    </div>
  </div>

  <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
      <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4" />
      </svg>
      <span class="sr-only">Previous</span>
    </span>
  </button>
  <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
      <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
      </svg>
      <span class="sr-only">Next</span>
    </span>
  </button>
</div>

<!-- Bot贸n de llamada a la acci贸n -->
<div class="absolute bottom-10 flex justify-center w-full z-30">
  <button onclick="window.location.href='#CONTACTO'" class="bg-white text-black py-3 px-6 rounded-lg shadow-lg hover:bg-gray-200 transition duration-300">
    {t("slider.contbut")}
  </button>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const video = document.getElementById('background-video');
    const preview = document.getElementById('video-preview');

    if (video) {
      video.addEventListener('loadeddata', () => {
        if (preview) {
          setTimeout(() => {
            preview.classList.add('hidden'); // Usar clases en lugar de estilos inline
          }, 2000);
        }
      });
    }
  });
</script>
